table{
			//position: fixed;
		}

		#clonedElement{
			position: fixed;
			left: 150;
			top:5;
		}

		.dropzone{
			width: 36;
			height: 36;
			//border: solid blue;
			background-color:transparent;
			//position: fixed;
		}

		.nondropzone{
			width: 36;
			height: 36;
			border: solid blue;
			//position: fixed;
		}

		.iamdroppable{

		}

		#toolboxDivSingle{
			width: 50;
			height: 1000;
			border : solid black 1px;
			//position: fixed;
		}

		#toolboxDivMultiple{
			width: 50;
			height: 1000;
			left: 60;
			border : solid black 1px;
			//position: fixed;
		}

		.toolboxcc{
			width: 50;
			height: 1000;
			border : solid black 1px;
			position: fixed;
		}

		#dropzoneDiv{
			//left: 100;
			//top: 60;
			//position: fixed;
		}

		.overlap{
			border : solid black 1px;
			position: relative;
		}

		#parentForOverlappingDiv{
    		left: 50;
    		right: 50;
    		width: 530;
    		height: 530;
    		position: relative;
    	}

		.box{
        width: 100%;
        height: 100%;            
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;  /* for demo purpose  */
        border : solid black 2px;
    	}

    	.stack-top{
    		width: 100%;
        height: 100%;
        z-index: 9;
        margin: 0px; /* for demo purpose  */
        border : solid red 1px;
    	}

    	

		